<h3>Demo 05: Built-in Pipes</h3>

<h4>String:</h4>

<p>Chaine de caractères par défaut: {{ message }}</p>

<p>LowerCasePipe: {{ message | lowercase }}</p>
<p>UpperCasePipe: {{ message | uppercase }}</p>
<p>TitleCasePipe: {{ message | titlecase }}</p>

<h4>Number:</h4>


<p>DecimalPipe: {{ 42 | number }}</p>
<p>DecimalPipe: {{ 42 | number : '3.2-3' }}</p>
<p>DecimalPipe: {{ 4222 | number : '3.2-3' }}</p>
<p>DecimalPipe: {{ 4222.2228 | number : '3.2-3' }}</p>
<p>DecimalPipe: {{ 4222.2228 | number : '3.2-3' : 'en-US' }}</p>
<p>DecimalPipe: {{ 4222.2228 | number : '3.2-3' : 'fr-BE' }}</p>
<p>DecimalPipe: {{ 4222.2228 | number : '3.2-3' : 'nl-BE' }}</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>