<h2>Demo 01: Property Binding (One Way)</h2>

<p>Afficher une valeur présente du côté TypeScript dans le template HTML</p>
<p>Unidirectionnel => TypeScript vers HTML</p>
<p ngNonBindable>
    Utilisation: {{ nomVariable }}
</p>

<p>Exemples</p>

<ul>
    <li>maVariable1: {{ maVariable1 }}</li>
    <li>maVariable2: {{ maVariable2 }}</li>
    <li>maVariable3: {{ maVariable3 }}</li>
    <li>maVariable4: {{ maVariable4 }}</li>
    <li>maVariable5: {{ maVariable5 }}</li>
    <li>maVariable6: {{ maVariable6 }}</li>
    <li>maVariable7: {{ maVariable7 }}</li>
    <li>maVariable8: {{ maVariable8 }}</li>
    <li>maVariable9: {{ maVariable9 }}</li>
    <li>maVariable10: {{ maVariable10 }}</li>
    <li>maVariable11: {{ maVariable11 }}</li>
    <li>maVariable12: {{ maVariable12 }}</li>
    <li>maVariable13: {{ maVariable13 }}</li>
    <li>maVariable14: {{ maVariable14 }}</li>
    <li>maVariable15: {{ maVariable15 }}</li>
    <li>maVariable16: {{ maVariable16 }}</li>
</ul>